<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Page</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{ craft.twigpack.includeCssRelPreloadPolyfill() }}
		{{ craft.twigpack.includeCssModule("styles.css", true) }}
	</head>
	<body>
		<div id="app">
			{% block content %}{% endblock %}
		</div>
		{{ craft.twigpack.includeJsModule("app.js", true) }}
	</body>
</html>
