<div class="hero text-light d-flex align-items-center flex-wrap">

  <div class="col-sm-12 col-md-10 col-lg-6 mr-auto ml-auto">
    <h2 class="hero__headline">
      Title
    </h2>

    <!-- <p class="hero__richtext">
      <%= lorem.paragraphs(1) %>
    </p> -->

    <button type="button" class="btn btn-dark hero__cta">
      Button
    </button>
  </div>

  <div class="hero__image" data-src="//res.cloudinary.com/rlabardee/image/upload/v1541614080/Furniture/79f01c_20254d50caff49ce8940066d1acb4f58_mv2.jpg"></div>
</div>


<div class="hero hero--carousel text-light d-flex align-items-center flex-wrap">

  <div class="hero__body d-flex align-content-center flex-wrap col-sm-12 col-md-10 col-lg-6 mr-auto ml-auto">
    <h2 class="hero__headline">
      Title
    </h2>

    <!-- <p class="hero__richtext">
      <%= lorem.paragraphs(1) %>
    </p> -->

    <button type="button" class="btn btn-dark hero__cta">
      Button
    </button>
  </div>

  <div id="heroCarousel" class="hero__carousel carousel slide" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target="#heroCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#heroCarousel" data-slide-to="1"></li>
      <li data-target="#heroCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="http://placehold.it/1280x720/1a25ef/e0adc5&text=16%3A9" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="http://placehold.it/1280x720/1a25ef/e0adc5&text=16%3A9" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="http://placehold.it/1280x720/1a25ef/e0adc5&text=16%3A9" alt="Third slide">
      </div>
    </div>
  </div>
</div>
